body {
  font-family: sans-serif;
  background: url('./images/white-1.jpg') no-repeat fixed center;
  background-size: cover
}

a {
  text-decoration: none;
}
a:visited{
  color: black
}

.poetry-inline-block{
  display: inline-block;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#plus-btn {
  width:40px
}

#plus-btn:hover {
  transform: scale(.9);
  transition-duration: .3s;
}

#plus-btn:active {
  transform: rotate(90deg);
  transition-duration: .3s;
}

.a:hover{
  color: #0a091c
}

h2 {
  color:#0a091c
}

p{
  color: #0a091c
}

label {
  display: block;
}

nav {
  padding: 0em 2em 0em 2em;
  float: right;
}

.nav-bar-unlogin {

}

.home-links{
  font-size: 14pt;
  color: #294c82;
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
