body {
  font-family: sans-serif;
  background: url('./images/white-1.jpg') no-repeat fixed center;
  background-size: cover
}

a {
  text-decoration: none;
}
a:visited{
  color: blueviolet
}

.poetry-inline-block{
  display: inline-block;
  text-align: right;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.a:hover{
  color: #0a091c
}

h2 {
  color:#0a091c
}

p{
  color: #0a091c
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: .2em 2em 0em 2em;
}

form div {
  /* margin: 1em; */
  display: inline-block;
}

.inner-paper{
  padding: 1em;
  margin: 0 auto;
  background: url('./images/concrete-1.jpg') no-repeat fixed;
  background-size: 100% 100%;
  width: 60vw;
  height: 70vh;
  border-radius: 25px;
  border: solid 1pt #d1d1d1
}

.home-links{
  font-size: 14pt;
  color: #294c82;
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
