body {
  font-family: sans-serif;
  background: url('./images/white-1.jpg') no-repeat fixed center;
  background-size: cover
}

a {
  text-decoration: none;
}
a:visited{
  color: blueviolet
}

.poetry-inline-block{
  display: inline-block;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#plus-btn {
  width:45px
}

#plus-btn:hover {
  transform: scale(.9);
  transition-duration: .3s;
}

#plus-btn:active {
  transform: rotate(90deg);
  transition-duration: .3s;
}

.a:hover{
  color: #0a091c
}

h2 {
  color:#0a091c
}

p{
  color: #0a091c
}

label {
  display: block;
}

nav {
  padding: .2em 2em 0em 2em;
  float: right;
}

.inner-paper{
  padding: 1em;
  margin: 0 auto;
  background: url('./images/concrete-1.jpg') no-repeat fixed;
  background-size: 100% 100%;
  width: 60vw;
  height: 70vh;
  border-radius: 25px;
  border: solid 1pt #d1d1d1
}

.home-links{
  font-size: 14pt;
  color: #294c82;
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
